#left.outline-view
  #Menu
    ul#Menu-list
      a#account(href='/account/profile') Account Profile
      a#company(href='/company/profile') Company Profile
      a#subscriptions(href='/company/subscriptions') Manage Subscriptions
      a#apps(href='/company/apps') Subscribed Applications
      a#payments(href='/company/payment') Manage Payment Accounts
      a#payhistory(href='/company/payment/history') View Payment History